body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    background-color: #add8e6; /* light blue */
}
header {
    background-color: rgb(8, 145, 211);
    width: 100%;
    /*background-color: #f2f2f2;*/ /* light grey */
    text-align: center;
    z-index: 100;
    padding: 1rem 0;
    top: 0;
}
#links {
    position: -webkit-sticky;
    position: sticky;
    background-color: none;
}
.logo {
    width:120px;
    height: auto;
    background: url('logo.svg') center/contain no-repeat rgb(8, 145, 211);
    transition: all 0.3s;
    position: relative;
    
}
.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.navbar a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #fdd835; /* yellow */
}
.banner {
    width: 100%;
    height: 100px;
    background: center/contain no-repeat rgb(8, 145, 211);
    transition: height 0.3s;
    position: relative;
    top: 0px; /* adjust the top position as needed */
}
.container {
    text-align: center;
    padding-top: 0px;
}
.box {
    width: 95%;
    background-color: #fdd835; /* yellow */
    color: #1565c0; /* blue */
    border-radius: 15px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    box-sizing: border-box;
    margin-top: 5%;
}
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.navbar a.active {
    color: #00008B; /* golden color */
}
h1 {
    font-size: 36px; /* title font size */
    text-align: center;
    margin-bottom: 20px; /* add space between title and paragraph */
}

p {
    font-size: 18px; /* smaller paragraph font size */
    text-align: left; /* align to the left */
}